[submodule "rust/rust-axum-course"]
	path = rust/rust-axum-course
	url = git.benmi.me/benmi/rust-axum-course.git
[submodule "python/blog-base-py"]
	path = python/blog-base-py
	url = git.benmi.me/benmi/blog-base-py.git
[submodule "js/tailwind-nextjs-blog"]
	path = js/tailwind-nextjs-blog
	url = git.benmi.me/benmi/tailwind-nextjs-blog.git
[submodule "python/pihole_list_sorter"]
	path = python/pihole_list_sorter
	url = https://git.benmi.me/benmi/pihole_list_sorter.git
[submodule "python/fastAPI_template"]
	path = python/fastAPI_template
	url = https://git.benmi.me/benmi/fastAPI_template.git
[submodule "python/fastAPI_postgresql"]
	path = python/fastAPI_postgresql
	url = https://git.benmi.me/benmi/fastAPI_postgresql.git
[submodule "c++/pihole_list_sorter_in_cpp"]
	path = c++/pihole_list_sorter_in_cpp
	url = https://git.benmi.me/benmi/pihole_list_sorter_in_cpp
[submodule "c++/dns_list_sorter"]
	path = c++/dns_list_sorter
	url = https://git.benmi.me/benmi/dns_list_sorter.git
[submodule "go/applied-concurrency-in-go-3164282"]
	path = go/applied-concurrency-in-go-3164282
	url = https://github.com/LinkedInLearning/applied-concurrency-in-go-3164282.git
