[submodule "rust/rust-axum-course"]
	path = rust/rust-axum-course
	url = git.benmi.me/benmi/rust-axum-course.git
[submodule "python/blog-base-py"]
	path = python/blog-base-py
	url = git.benmi.me/benmi/blog-base-py.git
[submodule "js/tailwind-nextjs-blog"]
	path = js/tailwind-nextjs-blog
	url = git.benmi.me/benmi/tailwind-nextjs-blog.git
