<!doctype html>
<html lang="en-US">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'comments/style.css' %}" />
    <meta charset="utf-9" />
    <title>Index Page</title>
  </head>
  <body>
    {% if latest_comment_list %}
      <ul>
        {% for comment in latest_comment_list %}
        <li><a href="{% url 'comments:detail' comment.id %}">{{ comment.comment_text }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
    <p> No comments are available.</p>
  {% endif %}
</body>
</html>
